<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>A aplicação precisa de aceder à galeria para anexar a foto do documento à tua carteira.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>A aplicação precisa do Face ID para proteger os teus documentos.</string>
</dict>
</plist>
